<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    
        <div class="container">
                <form  name="frmLogin">
                    <div class="form">
                    <div class="col-md-6">
                    <label for="txtName"> Your Name </label>
                    <input type="text" id="txtName"
                     class="form-control" name="txtName" [(ngModel)]="user.UserName">
                        </div>
                        <div class="col-md-6">
                    <label for="txtPassword"> Your Password </label>
                    <input type="password" id="txtPassword" name="txtPassword" class="form-control" [(ngModel)]="user.Password">
                    </div>
                        
                    <div class="col-md-6">
                    <br>
                    <input type="button" class="btn btn-success" (click)="checkLogin()" value="Login">
                    
                    <input type="button" value="Register" class="btn btn-primary" (click)="navigateRegistration()">
                    </div>
                </div>
                </form>
            </div>
</body>
</html>